Server {
  host = "localhost"
  port = 3000
  }
DataBase {
  host     = "localhost"
  port     = 5432
  user     = "evgenya"
  dbname   = "newdb"
  password = "123456"
  }
defaultValues {
  defaultPictureId   = 1
  defaultUserId      = 1
  defaultAuthorId    = 1
  defaultCategoryId  = 1
  }
LimitNumbers {
  commentNumberLimit = 20
  draftNumberLimit   = 5
  postNumberLimit    = 5
  }
log {
  logLevel = "DEBUG"
  }
